<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 카메라/저장소 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- 네트워크/기기 유지 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 알림/포그라운드(흔들기) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 전화 정보 접근 (스크리닝용) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:targetApi="33"/>



    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground2"
        android:label="명함.zip"
        android:roundIcon="@drawable/ic_launcher_foreground2"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusinessCardApp"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <activity
            android:name=".ui.screen.MyCardsShakeActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <service
            android:name=".util.ShakeForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <!-- 런처 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BusinessCardApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="i13e201.p.ssafy.io"
                    android:pathPrefix="/cards" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.widget.SingleActionsWidgetReceiver"
            android:exported="true"
            android:label="명함 위젯">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/single_actions_widget_info" />
        </receiver>

        <activity
            android:name=".ui.widget.ShareForwarderActivity"
            android:exported="false"
            android:theme="@style/Theme.BusinessCardApp"
            android:noHistory="true"
            android:excludeFromRecents="true" />

        <activity
            android:name=".ui.widget.ShakeForwarderActivity"
            android:exported="false"
            android:theme="@style/Theme.BusinessCardApp"
            android:noHistory="true"
            android:excludeFromRecents="true" />

<!--        <receiver-->
<!--            android:name=".ui.widget.MySecondWidgetReceiver"-->
<!--            android:exported="true"-->
<!--            android:label="내 명함 qr">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/my_second_widget_info" />-->

<!--        </receiver>-->

        <receiver
            android:name=".ui.widget.MySecondWidgetReceiver"
            android:label="내 명함 qr"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_second_widget_info" />
        </receiver>

        <activity
            android:name=".ui.widget.WidgetConfigActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:name=".ui.screen.incoming.IncomingActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BusinessCardApp" />

        <!-- ★ 통화 스크리닝 서비스: 시스템이 여기로 콜백해줌 -->
        <service
            android:name=".service.CallScreeningEntryService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.IncomingOverlayService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- ML Kit -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <!-- Google 로그인 -->
        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="399808983289-nhr69t70q3e5l8dkck7jg7f5fge87fo8.apps.googleusercontent.com" />

        <!-- 공유용 파일을 다른 앱(퀵쉐어)에서 읽을 수 있게 해주는 Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>